:root {
  --dimmed-color: rgb(from currentColor r g b / calc(alpha * 0.55));
}

.thumbnail {
  border-radius: 12px;
}

label.link:hover {
  color: @accent_color;
  text-decoration: underline;
}

.padding-3 {
  padding: 3px;
}

.padding-6 {
  padding: 6px;
}

.br-6 {
  border-radius: 6px;
}

.br-9 {
  border-radius: 9px;
}

.br-12 {
  border-radius: 12px;
}

.no-br {
  border-radius: 0;
}

.on-hover,
.hover-parent .hover-child,
.focus-parent .focus-child {
  opacity: 0;
  transition: 0.25s opacity;
}

.on-hover:hover,
.hover-parent:hover .hover-child,
.focus-parent:focus-within .focus-child,
.focus-parent:focus:focus-visible .focus-child {
  opacity: 1;
}

.rounded {
  border-radius: 9999px;
}

.small-pill:not(menubutton) {
  padding: 10px;
}

menubutton.small-pill>button {
  padding: 10px;
}

/* playlist item */
.playlist-item .image {
  border-radius: 3px;
}

.no-padding {
  padding: 0;
}

.carousel-padding {
  padding-right: 6px;
}

.transparent {
  background-color: transparent;
}

expander-widget.inverted expander:checked {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

scale.buffering trough {
  animation: 6s moving linear infinite both,
    1s reveal_background 0.1s linear forwards;
}

@keyframes reveal_background {
  from {
    background-image: none;
  }

  to {
    background-image: cross-fade(40% -gtk-recolor(url("resource:///com/vixalien/muzika/icons/scalable/actions/progress-symbolic.svg")),
        transparent);
  }
}

@keyframes moving {
  from {
    background-position: 0;
  }

  to {
    background-position: 60px;
  }
}

flowboxchild {
  padding: 0;
}

.background-transition {
  transition: background-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.pill.compact {
  padding: 6px 10px;
}

label.flat-links:not(:hover) link {
  color: inherit;
}

label.flat-links:hover link {
  color: @accent_color;
}

label.flat-links:hover,
label.bold-link:hover {
  color: inherit;
  text-decoration: none;
}

label.bold-link link {
  color: @accent_color;
  text-decoration: none;
}

.floating-button {
  border-radius: 50px;
  padding: 2px;
}

.carousel-list-view,
.carousel-grid-view,
.playlist-list-view,
.carousel-flat-list-view,
.playlist-column-view listview {
  background-color: transparent;
  border-spacing: 6px;
  padding: 6px;
}

.playlist-column-view {
  background-color: transparent;
}

.carousel-list-view>row,
.playlist-list-view>row,
.carousel-grid-view>child,
.carousel-flat-list-view>row {
  border-radius: 12px;
  padding: 6px;
}

.playlist-column-view listview>row,
.playlist-list-view>row {
  border-radius: 9px;
}

.insights-clamp {
  background-color: alpha(@window_fg_color, 0.03);
}

.insights-clamp>.insights-box>*:first-child {
  margin-top: 12px;
}

.insights-clamp>.insights-box>*:last-child {
  margin-bottom: 12px;
}

.playlist-item:not(:hover):not(:selected):nth-child(2n + 1),
.playlist-column-view listview>row:not(:hover):not(:selected):nth-child(2n + 1),
.playlist-list-view>row:not(:hover):not(:selected):nth-child(2n + 1) {
  background-color: alpha(@window_fg_color, 0.05);
}

.playlist-item:not(:hover):not(:selected):nth-child(2n + 1),
.playlist-column-view listview>row:hover:not(:selected),
.playlist-list-view>row:hover:not(:selected) {
  background-color: alpha(@window_fg_color, 0.15);
}

.dynamic-image {
  transition: background-color 0.2s, box-shadow 0.2s;
}

.carousel-mood-view {
  border-spacing: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

.carousel-mood-view>child {
  padding: 0;
  border-radius: 6px;
}

.mood-box {
  border-radius: 4px;
  padding: 12px 24px;
}

.inline-song-list-view {
  border-spacing: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 18px;
}

.inline-song-list-view>row {
  border-radius: 12px;
}

.black-bg {
  background-color: black;
}

.lyrics-line {
  font-size: 20px;
  font-weight: 800;
  padding: 8px 12px;
  line-height: 1;
  background-color: transparent;
  opacity: 0.48;
  transition: 0.5s opacity;
}

.lyrics-line:hover,
.lyric-line:active {
  opacity: 0.88;
  transition: 0.2s opacity;
}

.lyrics-line:selected {
  opacity: 1;
}

.navigation-sidebar>header {
  padding: 0;
}

.padded-top-bottom {
  padding-top: 6px;
  padding-bottom: 6px;
}

button.large {
  min-width: 40px;
  min-height: 40px;
}

.switcher-button {
  min-width: 80px;
}

.pad-last-child>*:last-child {
  padding-bottom: 6px;
}

.song-title {
  font-size: 14pt;
  font-weight: 800;
}

.pill.outline {
  border: 2px solid;
  border-color: @borders;
  padding-top: 8px;
  padding-bottom: 8px;
}

.pill.outline label {
  color: inherit;
}

.pill.outline.subscribe {
  color: @destructive_color;
  border-color: currentColor;
}

.thin-label {
  font-weight: 500;
}

.main-toast-overlay>toast {
  margin-bottom: calc(var(--toast-margin, 0px) + 24px);
  transition: 0.3s margin-bottom;
}

.full-player-view>revealer>box {
  padding-left: 9px;
  padding-right: 9px;
}

.counterpart-button {
  background-color: rgb(from var(--view-bg-color) r g b / calc(alpha * 0.80));
}

np-volume>scale {
  color: var(--dimmed-color);
}

np-volume:hover>scale {
  color: inherit;
}

np-volume>scale trough highlight {
  min-height: 12px;
  min-width: 12px;
}

np-volume>scale trough slider {
  opacity: 0;
}

.sharp-corners {
  border-radius: 0;
}
