.thumbnail {
  border-radius: 12px;
}

label.link:hover {
  color: @accent_color;
  text-decoration: underline;
}

.padding-3 {
  padding: 3px;
}

.padding-6 {
  padding: 6px;
}

.br-6 {
  border-radius: 6px;
}

.br-9 {
  border-radius: 9px;
}

.br-12 {
  border-radius: 12px;
}

.no-br {
  border-radius: 0;
}

.on-hover,
.hover-parent .hover-child,
.focus-parent .focus-child {
  opacity: 0;
  transition: .25s opacity;
}

.on-hover:hover,
.hover-parent:hover .hover-child,
.focus-parent:focus-within .focus-child,
.focus-parent:focus:focus-visible .focus-child {
  opacity: 1;
}

.rounded {
  border-radius: 50%;
}

.small-pill {
  padding: 10px;
}

/* playlist item */
.playlist-item .image {
  border-radius: 3px;
}

.playlist-item:not(:hover):not(:selected):nth-child(2n+1) {
  background-color: shade(@card_bg_color, .93);
}

button.link.inline {
  padding: 6px 0;
}

button.link.inline label {
  text-decoration: none;
}

button.link.inline.bold {
  font-weight: 700;
}

button.link.inactive {
  color: inherit;
}

button.link.inline.flat {
  padding: 0;
  color: @window_fg_color;
}

button.link.inline.flat:hover {
  color: @accent_color;
  opacity: 1;
}

.no-padding {
  padding: 0;
}

.carousel-padding {
  padding-right: 6px;
}

.transparent {
  background-color: transparent;
}

button.chip {
  padding: 3px 12px;
  border-radius: 9999px;
}

inline-tab-switcher {
  background: alpha(currentColor, .1);
  border-radius: 9px;
  padding: 3px;
}

inline-tab-switcher button {
  padding: 2px 15px;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-property: outline-color, outline-width, outline-offset, background, box-shadow;
}

inline-tab-switcher:not(.compact) button {
  min-width: 100px;
}

inline-tab-switcher button:checked {
  background: alpha(@card_bg_color, 2);
  color: @card_fg_color;
  box-shadow: 0 1px 3px 1px alpha(black, .07),
    0 2px 6px 2px alpha(black, .03);
}

inline-tab-switcher separator {
  margin: 3px 1px;
  transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

inline-tab-switcher separator.hidden {
  opacity: 0;
}

expander-widget.inverted expander:checked {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

scale.buffering trough {
  background-image: cross-fade(40% -gtk-recolor(url("resource:///com/vixalien/muzika/icons/scalable/actions/progress-symbolic.svg")), transparent);
  animation: moving linear 6s infinite both;
}

@keyframes moving {
  from {
    background-position: 0;
  }

  to {
    background-position: 60px;
  }
}

flowboxchild {
  padding: 0;
}

.background-transition {
  transition: background-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.pill.compact {
  padding: 6px 10px;
}

label.flat-links:not(.hover) link {
  color: inherit;
}

label.flat-links.hover link {
  color: @accent_color;
}

label.flat-links:hover {
  color: inherit;
  text-decoration: none;
}

.carousel-list-view,
.carousel-grid-view {
  border-spacing: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

.carousel-list-view>row {
  border-radius: 12px;
  padding: 6px;
}

.floating-button {
  border-radius: 50px;
  padding: 2px;
}

.playlist-column-view,
.playlist-column-view listview,
.playlist-list-view {
  background-color: transparent;
}

.playlist-column-view listview,
.playlist-list-view {
  border-spacing: 6px;
}

.playlist-column-view listview>row,
.playlist-list-view>row {
  border-radius: 9px;
}

.playlist-column-view listview>row:not(:hover):not(:selected):nth-child(2n+1),
.playlist-list-view>row:not(:hover):not(:selected):nth-child(2n+1) {
  background-color: shade(@card_bg_color, .93);
}