.thumbnail {
  border-radius: 12px;
}

.song-play-button {
  padding: 12px;
}

label.link:hover {
  color: @accent_color;
  text-decoration: underline;
}

.padding-3 {
  padding: 3px;
}

.padding-6 {
  padding: 6px;
}

.br-6 {
  border-radius: 6px;
}

.br-9 {
  border-radius: 9px;
}

.br-12 {
  border-radius: 12px;
}

.no-br {
  border-radius: 0;
}

.on-hover,
.hover-parent .hover-child,
.focus-parent .focus-child {
  opacity: 0;
  transition: .25s opacity;
}

.on-hover:hover,
.hover-parent:hover .hover-child,
.focus-parent:focus-within .focus-child,
.focus-parent:focus:focus-visible .focus-child {
  opacity: 1;
}

.rounded {
  border-radius: 50%;
}

.small-pill {
  padding: 10px;
}

/* playlist item */
.playlist-item .image {
  border-radius: 3px;
}

.playlist-item:not(:focus):not(:focus-visible):not(:hover):nth-child(2n+1) {
  background-color: alpha(@card_bg_color, .3);
}

button.link.inline {
  padding: 6px 0;
}

button.link.inline label {
  text-decoration: none;
}

button.link.inline.bold {
  font-weight: 700;
}

button.link.inactive {
  color: inherit;
}

button.link.inline.flat {
  padding: 0;
  color: @window_fg_color;
}

button.link.inline.flat:hover {
  color: @accent_color;
}

.no-padding {
  padding: 0;
}

.carousel-padding {
  padding-right: 6px;
}

.transparent {
  background-color: transparent;
}